fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
motor
pymongo
pandas
numpy
openpyxl
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
python-dotenv
certifi
httpx
